$genDark: #37383C;
$black: #000000;
$genBg: #ffffff;
$whiteColor: #ffffff;
$grayBg: #F8F9FC;
$hubspot: #FF7A59;
$wp: #028CB0;
$google: #4285F4;
$shopify: #95BF47;
$mainBlue: #2885F6;
$mainBlue2: #2380f9;
$head-nav: #686C71;
$error: #F62828;
$placeholder: #495057;
$errorArrow: #fa8d8c;
$errorBody: #F78E8E;
$errorBarBg: #FF6565;
$lightGray: #ECECEC;
$topLine: #eeeeee;
$articlesBorder: #dddddd;
$twiter: #25C5F6;
$faceBook: #6888CD;
$linkedin: #3A9BDC;
$breadCrumbs: #7E8187;
$subscribe: #ABAEBF;
$accordionSet: #3B93FF;
$remeshBg: #0073E3;