@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Source+Code+Pro');
@font-face {
    font-family: 'EnvyCodeR';
    src: url('../fonts/EnvyCodeR.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EnvyCodeR.woff') format('woff'), url('../fonts/EnvyCodeR.ttf')  format('truetype'),
    url('../fonts/EnvyCodeR.svg#EnvyCodeR') format('svg');
    font-weight: normal;
    font-style: normal;
}

